@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: "Yeseva One", cursive;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #FFF8F3;
}

body::-webkit-scrollbar {
  width: 0.5vw;
  background-color: transparent; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* цвет зоны отслеживания */
}

body.lock {
  overflow: hidden;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__btn span {
  height: 1px;
  width: 100%;
  background-color: #7B6152;
}

.header {
  padding: 4px 0;
  font-family: "Comfortaa", cursive;
  background-color: #FFF8F3;
}
.header .logo {
  width: 70px;
  height: 70px;
}
.header__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .header__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .header__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .header__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .header__container {
    max-width: 340px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
  text-transform: uppercase;
  gap: 20px;
}
.header__inner ul a {
  color: #000;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.header__inner ul a:hover {
  color: #7B6152;
}
@media (max-width: 768px) {
  .header__inner ul {
    font-size: 10px;
    line-height: 150%;
  }
}
@media (max-width: 480px) {
  .header__inner ul {
    font-size: 14px;
    line-height: normal;
  }
}
.header__inner .phone {
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
  text-transform: uppercase;
  gap: 20px;
  color: #000;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.header__inner .phone a {
  color: #000;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.header__inner .phone a:hover {
  color: #7B6152;
}
@media (max-width: 768px) {
  .header__inner .phone {
    font-size: 10px;
    line-height: 150%;
  }
}
@media (max-width: 480px) {
  .header__inner .phone {
    font-size: 14px;
    line-height: normal;
  }
}
.header__inner .phone:hover {
  color: #7B6152;
}
@media (max-width: 768px) {
  .header__inner .phone {
    background-size: 14px;
  }
}
@media (max-width: 640px) {
  .header .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .menu__list {
    display: none;
  }
  .header .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__menu-list {
    min-width: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-color: #7B6152;
    gap: 20px;
    padding: 25px 35px 25px 45px;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    top: 78px;
    -webkit-transition: ease 0.3s all 0s;
    transition: ease 0.3s all 0s;
    z-index: 5;
  }
  .header .header__menu-list a {
    color: #fff;
  }
  .header .header__menu-list a:hover {
    color: #FFBD59;
  }
  .header .header__menu-list.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  font-family: "Comfortaa", cursive;
  padding: 40px 0;
}
.footer__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .footer__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .footer__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .footer__container {
    max-width: 340px;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
  text-transform: uppercase;
  gap: 20px;
}
.footer__inner ul a {
  color: #000;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.footer__inner ul a:hover {
  color: #7B6152;
}
@media (max-width: 768px) {
  .footer__inner ul {
    font-size: 10px;
    line-height: 150%;
  }
}
@media (max-width: 480px) {
  .footer__inner ul {
    font-size: 14px;
    line-height: normal;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__contacts a {
  color: #000;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.footer__contacts a:hover {
  color: #7B6152;
}
.footer ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 900px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__contacts {
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
  .footer__social {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 50px 0;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .footer__inner .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 22px;
  }
}

.top {
  padding: 30px 0 150px 0;
}
.top__inner {
  position: relative;
}
.top__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .top__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .top__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .top__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .top__container {
    max-width: 340px;
  }
}
.top h1 {
  font-size: 30px;
  color: #000;
  line-height: 116%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .top h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .top h1 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .top h1 {
    font-size: 18px;
  }
}
.top p {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .top p {
    font-size: 10px;
    line-height: 150%;
  }
}
@media (max-width: 480px) {
  .top p {
    font-size: 8px;
  }
}
.top__buy {
  padding: 20px 45px;
  background-color: #FFBD59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  border: 1px solid #FFBD59;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.top__buy:hover {
  background-color: transparent;
  color: #FFBD59;
}
@media (max-width: 768px) {
  .top__buy {
    padding: 14px 30px;
  }
}
@media (max-width: 480px) {
  .top__buy {
    padding: 11px 23px;
  }
}
.top__content {
  max-width: 371px;
  padding: 150px 0 250px 0;
}
@media (max-width: 1000px) {
  .top__content {
    max-width: 333px;
  }
  .top__content p {
    max-width: 300px;
    margin-bottom: 30px;
  }
}
.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}
@media (max-width: 1000px) {
  .top__content {
    padding: 95px 0 70px 0;
  }
  .top__img {
    left: 300px;
  }
  .top__img-l {
    width: 655px;
  }
}
@media (max-width: 768px) {
  .top__content {
    max-width: 236px;
  }
  .top__content h1 {
    margin-bottom: 20px;
  }
  .top__content p {
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }
}
@media (max-width: 480px) {
  .top__content {
    padding: 90px 0 130px 0;
  }
  .top__content h1 {
    max-width: 200px;
    margin-bottom: 15px;
  }
  .top__content p {
    margin-bottom: 15px;
    max-width: 150px;
  }
  .top__img {
    left: 167px;
  }
  .top__img-l {
    width: 308px;
  }
}
@media (max-width: 360px) {
  .top__content {
    padding: 60px 0 50px 0;
  }
  .top__content h1 {
    max-width: 203px;
  }
  .top__content p {
    max-width: 198px;
  }
  .top__img {
    left: 200px;
    top: 20px;
  }
  .top__img-l {
    width: 187px;
  }
}

.about {
  padding: 128px 0 186px 0;
  background-color: #A5978E;
}
.about__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .about__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .about__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .about__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .about__container {
    max-width: 340px;
  }
}
.about__content {
  max-width: 370px;
  color: #FAFAFA;
}
.about__content h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
@media (max-width: 768px) {
  .about__content h2 {
    font-size: 15px;
  }
}
.about__content p {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .about__content p {
    font-size: 10px;
    line-height: 1.2;
  }
}
@media (max-width: 360px) {
  .about__content p {
    font-size: 8px;
    line-height: 1.2;
  }
}
.about__underline {
  height: 1px;
  width: 100vw;
  background-color: #7B6152;
  position: absolute;
  left: 391px;
  bottom: -126px;
}
.about__underline img {
  position: absolute;
  width: 22px;
  top: -20px;
  left: -20px;
}
.about__inner {
  position: relative;
}
.about__pictures-container {
  position: absolute;
  top: -78px;
  left: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  width: 820px;
}
.about__pictures-container p {
  color: #FAFAFA;
  font-family: "Comfortaa", cursive;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .about__pictures-container p {
    font-size: 6px;
  }
}
@media (max-width: 1000px) {
  .about {
    padding-bottom: 140px;
  }
  .about__content {
    max-width: 300px;
  }
  .about__pictures-container {
    left: 340px;
  }
  .about__underline {
    left: 320px;
    bottom: -81px;
  }
  .about__underline img {
    width: 24px;
    top: -22px;
    left: -22px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 50px 0 120px 0;
  }
  .about__content {
    max-width: 200px;
  }
  .about__content h2 {
    padding-bottom: 10px;
  }
  .about__content p {
    margin-top: 10px;
  }
  .about__pictures-container {
    top: 0;
    left: 240px;
  }
  .about__pictures-container .about__picture {
    max-width: 120px;
  }
  .about__pictures-container .about__picture._big-picture {
    max-width: 190px;
  }
  .about__pictures-container img {
    max-width: 100%;
  }
  .about__underline {
    left: 248px;
    bottom: -30px;
  }
}
@media (max-width: 480px) {
  .about {
    padding-bottom: 50px;
  }
  .about__content {
    max-width: 170px;
  }
  .about__pictures-container {
    top: 20px;
    left: 190px;
    gap: 0 5px;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
  }
  .about__pictures-container .about__picture {
    max-width: 80px;
  }
  .about__pictures-container .about__picture._big-picture {
    max-width: 140px;
  }
  .about__pictures-container .about__picture p {
    display: none;
  }
  .about__underline {
    left: 200px;
    bottom: 0;
  }
}
@media (max-width: 360px) {
  .about {
    padding: 25px 0 39px 0;
  }
  .about__content {
    max-width: 235px;
  }
  .about__content h2 {
    padding-bottom: 0;
  }
  .about__pictures-container {
    top: 14px;
    left: 260px;
    gap: 0 5px;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
  }
  .about__pictures-container .about__picture {
    max-width: 80px;
  }
  .about__pictures-container .about__picture.dn-class {
    display: none;
  }
  .about__underline {
    left: 270px;
    bottom: -20px;
  }
}

.cards {
  padding: 150px 0;
}
.cards__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .cards__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .cards__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .cards__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .cards__container {
    max-width: 340px;
  }
}
.cards__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}
.cards__inner h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .cards__inner h2 {
    font-size: 15px;
  }
}
.cards__inner p {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%;
}
@media (max-width: 768px) {
  .cards__inner p {
    font-size: 10px;
    line-height: 1.2;
  }
}
@media (max-width: 360px) {
  .cards__inner p {
    font-size: 8px;
    line-height: 1.2;
  }
}
.cards__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
}

.product__card {
  max-width: 290px;
  text-align: center;
  padding: 0 7px;
}
.product__card img {
  max-width: 274px;
  max-height: 310px;
  margin-bottom: 8px;
}
.product__card h3 {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 16px;
}
.product__card .product__card-price {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 12px;
}
.product__card .product__card-subtitle {
  font-size: 12px;
  margin-bottom: 27px;
}
.product__card button {
  padding: 20px 45px;
  background-color: #FFBD59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  border: 1px solid #FFBD59;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.product__card button:hover {
  background-color: transparent;
  color: #FFBD59;
}
@media (max-width: 768px) {
  .product__card button {
    padding: 14px 30px;
  }
}
@media (max-width: 480px) {
  .product__card button {
    padding: 11px 23px;
  }
}

.offer {
  padding: 120px 0 120px 0;
  background-image: url("../img/offer/offer-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.offer__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1000px;
}
@media (max-width: 1000px) {
  .offer__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .offer__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .offer__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .offer__container {
    max-width: 340px;
  }
}
.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: #FAFAFA;
}
@media (max-width: 768px) {
  .offer__content {
    font-size: 15px;
  }
}
.offer__content button {
  padding: 20px 45px;
  background-color: #FFBD59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  border: 1px solid #FFBD59;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
}
.offer__content button:hover {
  background-color: transparent;
  color: #FFBD59;
}
@media (max-width: 768px) {
  .offer__content button {
    padding: 14px 30px;
  }
}
@media (max-width: 480px) {
  .offer__content button {
    padding: 11px 23px;
  }
}
@media (max-width: 1000px) {
  .offer__content h2 {
    max-width: 552px;
  }
}
@media (max-width: 768px) {
  .offer {
    padding: 66px 0 66px 0;
    background-size: 120%;
  }
  .offer button {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .offer {
    padding: 42px 0 42px 0;
    background-size: 120%;
  }
  .offer h2 {
    max-width: 210px;
  }
  .offer button {
    font-size: 8px;
  }
}
@media (max-width: 360px) {
  .offer {
    background-size: cover;
  }
  .offer h2 {
    max-width: 200px;
    font-size: 14px;
  }
}

.subscribe {
  padding: 150px 0 50px 0;
}
.subscribe__container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  background-image: url("../img/subscribe/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media (max-width: 1000px) {
  .subscribe__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .subscribe__container {
    padding: 0 14px;
    max-width: 668px;
  }
}
@media (max-width: 480px) {
  .subscribe__container {
    max-width: 460px;
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .subscribe__container {
    max-width: 340px;
  }
}
.subscribe__inner {
  padding: 1px;
}
.subscribe__form {
  max-width: 664px;
  background-color: #fff;
  padding: 74px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 112px 0 52px 0;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.3);
          box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.3);
}
.subscribe__form h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .subscribe__form h2 {
    font-size: 15px;
  }
}
.subscribe__form input {
  margin-top: 20px;
  padding: 3px 0 11px 7px;
  border-bottom: 1px solid #000;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}
@media (max-width: 768px) {
  .subscribe__form input {
    font-size: 8px;
  }
}
.subscribe__form input::-webkit-input-placeholder {
  color: #B3B3B3;
}
.subscribe__form input::-moz-placeholder {
  color: #B3B3B3;
}
.subscribe__form input:-ms-input-placeholder {
  color: #B3B3B3;
}
.subscribe__form input::-ms-input-placeholder {
  color: #B3B3B3;
}
.subscribe__form input::placeholder {
  color: #B3B3B3;
}
.subscribe__form input:first-child {
  margin-top: 0;
}
.subscribe__form button {
  padding: 20px 45px;
  background-color: #FFBD59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  border: 1px solid #FFBD59;
  -webkit-transition: ease 0.3s all 0s;
  transition: ease 0.3s all 0s;
  margin-top: 50px;
  padding: 17px 34px;
  max-width: 170px;
  text-align: center;
}
.subscribe__form button:hover {
  background-color: transparent;
  color: #FFBD59;
}
@media (max-width: 768px) {
  .subscribe__form button {
    padding: 14px 30px;
  }
}
@media (max-width: 480px) {
  .subscribe__form button {
    padding: 11px 23px;
  }
}
@media (max-width: 1150px) {
  .subscribe__container {
    background-size: 365px;
  }
  .subscribe__form {
    padding: 75px 22px;
    max-width: 592px;
    margin-bottom: 122px;
  }
}
@media (max-width: 1000px) {
  .subscribe__container {
    background-size: 335px;
  }
  .subscribe__form {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .subscribe__container {
    background-size: 187px;
  }
  .subscribe__form {
    padding: 30px 22px;
    max-width: 440px;
    margin: 0;
  }
  .subscribe__form h2 {
    margin-bottom: 0;
  }
  .subscribe__form button {
    margin-top: 30px;
  }
}
@media (max-width: 768px) and (max-width: 660px) {
  .subscribe__form {
    max-width: 58%;
  }
}
@media (max-width: 480px) {
  .subscribe {
    padding: 50px 0;
  }
  .subscribe__container {
    background-image: none;
  }
  .subscribe__form {
    max-width: 100%;
  }
}