.catalog__content {
    gap: 20px;
    h2 {
        font-size: 35px;
    }

    @media (max-width:768px) {
        gap: 4px;
        h2 {font-size: 15px;}
    }
    img {
        margin-bottom: 8px;
    }
}
.catalog-cards__wrap {
    gap: 20px;
    @media (max-width:480px) {
        gap: 27px 40px;
    }
    @media (max-width:480px) {
        gap: 25px 20px;
    }
}
.card.type1, .card.type2 {
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    max-height: 220px;
    @media (max-width:1024px) {
        max-width: 300px;
    }
    @media (max-width:768px) {
        gap: 4px;
    }
    @media (max-width:768px) {
        max-width: 200px;
        max-height: 150px;
    }
    &.type2 {
        flex-direction: row-reverse;
        p:last-child {
            text-align: right;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
        @media (max-width:1024px) {
            max-width: 128px;
        }
        @media (max-width:768px) {
            max-width: 85px;
        }
    }
}
.card {
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 174px;
        @media (max-width:1024px) {
            max-width: 140px;
        }
        @media (max-width:380px) {
            max-height: 100px;
        }
        text-align: left;
        top: 0;
        height: 100%;
        margin: 0;
       p:last-child {
            font-size: 30px;
            color: $beige-white2;
            margin-bottom: 0;
            font-family: $fontYeseva;
        }
        @media (max-width:768px) {
            max-width: 94px;
            >p {
                font-size: 8px;
            }
            p:last-child {
                font-size: 20px;
            }
        }
        @media (max-width:380px) {
            max-width: 71px;
            >p {
                font-size: 6px;
            }
            p:last-child {
                font-size: 12px;
            }
        }
    }
}


.instruction {
    position: relative;
    &__underline {
        width: 100vw;
        background-color: $beige-black;
        height: 1px;
        position: absolute;
        bottom: -72px;
        left: 36%;
        img {
            top: -20px;
            left: -20px;
            position: relative;
        }
        @media (max-width:1024px) {
            left: 34%;
        }
        @media (max-width:768px) {
            left: 39%;
            bottom: -52px;
        }
        @media (max-width:480px) {
            left: 5%;

        }
    }
}
@media (max-width:480px) {

}